# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Environments
.venv/
.env

# Runtime
.run/
.logs/
creds/

# OS/files
.DS_Store
Thumbs.db

# Large/irrelevant
Downloads/
*.zip
*.tar
*.tar.gz

# Git
.git/
.gitignore
