<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Label</key>
<string>com.visualstudio.code.tunnel</string>
<key>LimitLoadToSessionType</key>
<string>Aqua</string>
<key>ProgramArguments</key>
<array>
<string>/private/var/folders/j8/34qtt7_55pn1yjd6y_79lfn40000gn/T/AppTranslocation/28864D43-EA05-4238-B9AF-AD87A928368A/d/Visual Studio Code.app/Contents/Resources/app/bin/code-tunnel</string>
<string>--verbose</string><string>--cli-data-dir</string><string>/Users/ghost-link-labs/.vscode/cli</string><string>tunnel</string><string>service</string><string>internal-run</string>
</array>
<key>KeepAlive</key>
<true/>
<key>StandardErrorPath</key>
<string>/Users/ghost-link-labs/.vscode/cli/tunnel-service.log</string>
<key>StandardOutPath</key>
<string>/Users/ghost-link-labs/.vscode/cli/tunnel-service.log</string>
</dict>
</plist>