# Pin constraints for iCE40-HX1K FPGA
# Clock
set_io clk 49

# Reset
set_io reset_n 50

# Command and data
set_io command[0] 1
set_io command[1] 2
set_io command[2] 3
set_io command[3] 4
set_io command[4] 5
set_io command[5] 6
set_io command[6] 7
set_io command[7] 8

set_io data_in[0] 9
set_io data_in[1] 10
set_io data_in[2] 11
set_io data_in[3] 12
set_io data_in[4] 13
set_io data_in[5] 14
set_io data_in[6] 15
set_io data_in[7] 16
set_io data_in[8] 17
set_io data_in[9] 18
set_io data_in[10] 19
set_io data_in[11] 20
set_io data_in[12] 21
set_io data_in[13] 22
set_io data_in[14] 23
set_io data_in[15] 24
set_io data_in[16] 25
set_io data_in[17] 26
set_io data_in[18] 27
set_io data_in[19] 28
set_io data_in[20] 29
set_io data_in[21] 30
set_io data_in[22] 31
set_io data_in[23] 32
set_io data_in[24] 33
set_io data_in[25] 34
set_io data_in[26] 35
set_io data_in[27] 36
set_io data_in[28] 37
set_io data_in[29] 38
set_io data_in[30] 39
set_io data_in[31] 40

set_io data_out[0] 41
set_io data_out[1] 42
set_io data_out[2] 43
set_io data_out[3] 44
set_io data_out[4] 45
set_io data_out[5] 46
set_io data_out[6] 47
set_io data_out[7] 48

set_io ready 51

# PWM outputs
set_io pwm_out[0] 52
set_io pwm_out[1] 53
set_io pwm_out[2] 54
set_io pwm_out[3] 55
set_io pwm_out[4] 56
set_io pwm_out[5] 57
set_io pwm_out[6] 58
set_io pwm_out[7] 59
set_io pwm_out[8] 60
set_io pwm_out[9] 61
set_io pwm_out[10] 62
set_io pwm_out[11] 63
set_io pwm_out[12] 64
set_io pwm_out[13] 65
set_io pwm_out[14] 66
set_io pwm_out[15] 67

# SPI
set_io spi_sck 68
set_io spi_ss_n[0] 69
set_io spi_ss_n[1] 70
set_io spi_ss_n[2] 71
set_io spi_ss_n[3] 72
set_io spi_ss_n[4] 73
set_io spi_ss_n[5] 74
set_io spi_ss_n[6] 75
set_io spi_ss_n[7] 76
set_io spi_mosi 77
set_io spi_miso 78

# JTAG
set_io jtag_tck 79
set_io jtag_tms 80
set_io jtag_tdi 81
set_io jtag_tdo 82

# SDR
set_io sdr_tx 83
set_io sdr_rx 84